<auth-card [header]="moduleCode + '.header'">
  <form [formGroup]="formGroup">
    <app-form-group
      [label]="moduleCode + '.form.label.username'"
      [required]="true"
    >
      <app-input
        formControlName="username"
        [placeholder]="'app.form.placeholder.username'"
      ></app-input>
    </app-form-group>

    <app-form-group
      [label]="moduleCode + '.form.label.password'"
      [required]="true"
    >
      <input
        type="password"
        class="form-control"
        formControlName="password"
        [placeholder]="moduleCode + '.form.placeholder.password' | translate"
      />
    </app-form-group>

    <app-form-group
      [label]="moduleCode + '.form.label.email'"
      [required]="true"
    >
      <input
        type="email"
        class="form-control"
        formControlName="email"
        [placeholder]="moduleCode + '.form.placeholder.email' | translate"
      />
    </app-form-group>
  </form>

  <app-button (onClick)="handleSignUp()" customClass="w-100">
    {{ moduleCode + ".button.signUp" | translate }}
  </app-button>

  <p class="mt-4 mb-3 text-center">
    {{ moduleCode + ".text.alreadyHaveAnAccount" | translate }}
    <a routerLink="/auth/sign-in">
      {{ moduleCode + ".link.signIn" | translate }}
    </a>
  </p>
</auth-card>
