<auth-card [header]="moduleCode + '.header'">
  <form [formGroup]="formGroup">
    <app-form-group
      label="app.form.label.username"
      [required]="true"
      customClass="w-100"
    >
      <app-input
        formControlName="username"
        placeholder="app.form.placeholder.username"
      ></app-input>
    </app-form-group>

    <app-form-group
      label="app.form.label.password"
      [required]="true"
      customClass="w-100"
    >
      <app-input
        type="password"
        formControlName="password"
        placeholder="app.form.placeholder.password"
      >
      </app-input>
    </app-form-group>

    <app-form-group
      label="app.form.label.email"
      [required]="true"
      customClass="w-100"
    >
      <app-input
        type="email"
        formControlName="email"
        placeholder="app.form.placeholder.email"
      >
      </app-input>
    </app-form-group>
  </form>

  <app-button (onClick)="handleSignUp()" customClass="w-100">
    {{ moduleCode + ".button.signUp" | translate }}
  </app-button>

  <p class="mt-4 mb-3 text-center">
    {{ moduleCode + ".text.alreadyHaveAnAccount" | translate }}
    <a routerLink="/auth/sign-in">
      {{ moduleCode + ".link.signIn" | translate }}
    </a>
  </p>
</auth-card>
