nav.header-nav {
  border-right: 2px solid var(--bs-gray-200);
  overflow: hidden;
  margin-right: 1.5em;
  ul.menu-list {
    margin: 0;
    padding: 0;
    li.menu-item {
      list-style: none;
      float: left;
      a.menu-link {
        margin-right: 1em;
        width: 1.5em;
        height: 1.5em;
        overflow: hidden;
        border-radius: 50%;
        color: var(--bs-secondary);
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        &.message {
          color: var(--bs-success);
          background-color: #2ecc7124;
        }
        &.notification {
          color: var(--bs-danger);
          background-color: #e74c3c1f;
        }
        &.flag {
          &::after {
            content: "";
            display: none;
          }
          img {
            width: 80%;
          }
        }
      }
    }
  }
}

ul.flag-list {
  margin: 0;
  padding: 0;
  li.flag-item {
    list-style: none;
    padding: 0.4em;
    cursor: pointer;
    &:hover,
    &.active {
      background-color: var(--bs-gray-100);
    }
  }
}
