<app-card>
  <form [formGroup]="formGroup">
    <app-form-group [label]="moduleCode + '.form.label.age'" [required]="true">
      <app-input
        type="number"
        formControlName="age"
        [placeholder]="moduleCode + '.form.placeholder.age'"
      ></app-input>
    </app-form-group>
  </form>
  <div class="d-flex justify-content-end">
    <app-button (onClick)="handleSave()">
      <em class="fa-solid fa-paper-plane"></em>
      {{ "app.button.save" | translate }}
    </app-button>
  </div>
</app-card>
