<app-card>
  <form [formGroup]="formGroup">
    <app-form-group label="app.form.label.username" [required]="true">
      <app-input
        type="alphaNumeric"
        formControlName="username"
        placeholder="app.form.placeholder.username"
      ></app-input>
    </app-form-group>

    <app-form-group [label]="moduleCode + '.form.label.age'" [required]="true">
      <app-input
        type="number"
        formControlName="age"
        [placeholder]="moduleCode + '.form.placeholder.age'"
      ></app-input>
    </app-form-group>

    <app-form-group [label]="moduleCode + '.form.label.NIK'" [required]="true">
      <app-input
        type="numeric"
        formControlName="NIK"
        [placeholder]="moduleCode + '.form.placeholder.NIK'"
      ></app-input>
    </app-form-group>

    <app-form-group
      [label]="moduleCode + '.form.label.salary'"
      [required]="true"
    >
      <app-input
        type="currency"
        formControlName="salary"
        [placeholder]="moduleCode + '.form.placeholder.salary'"
      ></app-input>
    </app-form-group>

    <app-form-group label="app.form.label.phoneNumber" [required]="true">
      <app-input
        type="tel"
        formControlName="phoneNumber"
        placeholder="app.form.placeholder.phoneNumber"
      ></app-input>
    </app-form-group>

    <app-form-group label="app.form.label.about" [required]="true">
      <app-textarea
        formControlName="about"
        placeholder="app.form.placeholder.about"
      ></app-textarea>
    </app-form-group>

    <app-form-group label="app.form.label.gender" [required]="true">
      <app-radio
        formControlName="gender"
        [options]="genders"
        optionValueField="id"
      ></app-radio>
    </app-form-group>

    <app-form-group label="app.form.label.religion" [required]="true">
      <app-select
        formControlName="religion"
        placeholder="app.form.placeholder.religion"
        [options]="religions"
        optionValueField="id"
      ></app-select>
    </app-form-group>
  </form>

  <div class="d-flex justify-content-end">
    <app-button (onClick)="handleSave()">
      <em class="fa-solid fa-paper-plane"></em>
      {{ "app.button.save" | translate }}
    </app-button>
  </div>
</app-card>
