$sidebar-background: #2c3e50;

div.sidebar-wrapper {
  background-color: $sidebar-background;
  position: fixed;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  width: var(--sidebar-width);
  box-shadow: 0px 0px 8px 2px rgb(0 0 0 / 5%);
  overflow: hidden;
  transition: all var(--sidebar-transition) ease;
  --logo-n-padding-right: 0;
  &.sidebar-wrapper-sm {
    --logo-n-padding-right: 1em;
    --logo-n-padding-color: var(--bs-primary);
    div.sidebar-content {
      div.logo {
        h1 {
          span {
            &.n:hover {
              color: #ffffff !important;
            }
          }
        }
      }
    }
  }
  aside#sidebar {
    div.sidebar-content {
      div.logo {
        height: var(--header-height);
        display: flex;
        align-items: center;
        padding: 0 1em;
        h1 {
          color: #ffffff;
          font-size: 2em;
          width: var(--sidebar-width);
          overflow: hidden;
          a {
            color: inherit;
            span {
              font-weight: bold;
              &.n {
                padding-right: var(--logo-n-padding-right);
                transition: all var(--sidebar-transition) ease;
                color: var(--logo-n-padding-color);
              }
            }
          }
        }
      }
    }
  }
}
