<div
  class="sidebar-wrapper"
  [ngClass]="isSmallSidebarWidth ? 'sidebar-wrapper-sm' : ''"
>
  <aside id="sidebar" class="sidebar">
    <div class="sidebar-content">
      <div class="logo">
        <h1>Ngid<span class="text-primary">Dev</span></h1>
      </div>
      <nav class="sidebar-nav">
        <ul class="menu-list">
          <li class="menu-item" *ngFor="let menu of menus">
            <a
              [routerLink]="menu.routerLink"
              class="menu-link"
              routerLinkActive="active"
            >
              <div class="icon-wrapper">
                <span class="icon">
                  <em [ngClass]="menu.icon"></em>
                </span>
              </div>
              <span class="text">{{ menu.name }}</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </aside>
</div>
