$sidebar-background: #2c3e50;

div.sidebar-wrapper {
  background-color: $sidebar-background;
  position: fixed;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  width: var(--sidebar-width);
  box-shadow: 0px 0px 8px 2px rgb(0 0 0 / 5%);
  overflow: hidden;
  transition: all var(--sidebar-transition) ease;
  &.sidebar-wrapper-sm {
    aside#sidebar {
      div.sidebar-content {
        nav.sidebar-nav {
          ul.menu-list {
            li.menu-item {
              a.menu-link {
                span.text {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }
  aside#sidebar {
    div.sidebar-content {
      div.logo {
        height: var(--header-height);
        display: flex;
        align-items: center;
        padding: 0 1em;
        h1 {
          color: #ffffff;
          font-size: 2em;
          span {
            font-weight: bold;
          }
        }
      }
      nav.sidebar-nav {
        ul.menu-list {
          margin: 0;
          padding: 0;
          li.menu-item {
            list-style: none;
            display: block;
            a.menu-link {
              display: block;
              text-decoration: none;
              color: #ffffff;
              height: 46px;
              display: flex;
              align-items: center;
              &:hover,
              &.active {
                background-color: darken($sidebar-background, 5);
              }
              div.icon-wrapper {
                width: 60px;
                text-align: center;
                span.icon {
                  width: 24px;
                  height: 24px;
                  display: inline-block;
                  background-color: lighten($sidebar-background, 25);
                  text-align: center;
                  border-radius: 50%;
                }
              }
              span.text {
                width: var(--sidebar-menu-text-width);
                display: inline-block;
                transition: all var(--sidebar-transition) ease;
                padding-right: 1em;
              }
            }
          }
        }
      }
    }
  }
}
