<div class="header-wrapper" appScroll (onScroll)="handleScroll($event)">
  <div id="header" class="header">
    <div
      class="header-content"
      [@showShadow]="isShowShadow ? 'shadow' : 'default'"
    >
      <em
        class="fas fa-align-left cursor-pointer"
        (click)="onChangeSidebarWidth.emit()"
      ></em>
      <div class="d-flex align-items-center">
        <header-nav></header-nav>
        <header-user-profile></header-user-profile>
      </div>
    </div>
  </div>
</div>
