<div
  class="admin-layout-wrapper"
  [ngClass]="isSmallSidebarWidth ? 'small-sidebar' : ''"
>
  <admin-layout-header
    (onChangeSidebarWidth)="isSmallSidebarWidth = !isSmallSidebarWidth"
  ></admin-layout-header>
  <admin-layout-sidebar
    [isSmallSidebarWidth]="isSmallSidebarWidth"
  ></admin-layout-sidebar>
  <div class="content-wrapper mt-4">
    <admin-layout-breadcrumb></admin-layout-breadcrumb>
    <ng-content></ng-content>
  </div>
  <!-- <admin-layout-footer></admin-layout-footer> -->
</div>
