$primary: #1abc9c;
$info: #3498db;
$success: #2ecc71;
$warning: #f1c40f;
$danger: #e74c3c;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
);

// Links
//
// Style anchor elements.

$link-color: darken($primary, 15);
$link-decoration: none;
$link-hover-color: shift-color($link-color, $link-shade-percentage);

// card
$card-cap-bg: transparent;
$card-border-color: transparent;
$card-box-shadow: 0 4px 4px 0px rgba(0, 0, 0, 0.1);
$card-border-radius: 1em;

// modal
$modal-header-border-width: 0;
$modal-header-padding: $modal-header-padding-y $modal-header-padding-x 0;

$modal-footer-border-width: 0;
