<div class="app-table default">
  <div class="app-table-header">
    <div class="input-group">
      <span class="input-group-text">
        <em class="fas fa-search"></em>
      </span>
      <input
        type="email"
        class="form-control"
        [placeholder]="
          model.moduleCode + '.' + moduleCode + '.searchPlaceholder' | translate
        "
        (input)="handleSearch($event)"
      />
    </div>
  </div>
  <div class="app-table-body">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>No</th>
            <th
              *ngFor="let column of state.columns"
              class="sortable"
              [ngClass]="
                column.model.field === state.sortField
                  ? 'sort-' + (state.sortOrder | lowercase)
                  : ''
              "
              (click)="handleSort(column)"
            >
              <div class="th-content">
                <span class="text">
                  {{
                    state.model.moduleCode +
                      "." +
                      moduleCode +
                      ".header." +
                      column.model.header | translate
                  }}
                </span>
                <em class="fas fa-sort"></em>
              </div>
            </th>
            <th class="text-center">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of state.rows; let i = index">
            <td>{{ i + 1 }}</td>
            <td *ngFor="let column of row.columns">
              {{ column.value || "-" }}
            </td>
            <td class="text-center">
              <ng-container
                *ngTemplateOutlet="
                  actionsTemplate;
                  context: { $implicit: row.model.record, index: i }
                "
              ></ng-container>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="app-table-footer">
    <p>Pagination</p>
  </div>
</div>
