div.app-table.default {
  div.app-table-header {
    margin-bottom: 0.5em;
  }
  div.app-table-body {
    div.table-processing {
      background-color: transparent;
      width: 100%;
      height: 4px;
      position: relative;
      overflow: hidden;
      &.show {
        &::before {
          content: "";
          height: 4px;
          width: 100%;
          position: absolute;
          animation: tableLoader 2s forwards infinite;
          background-color: var(--bs-primary);
        }
      }
    }

    div.table-responsive {
      table.table.table-striped {
        tr {
          th {
            &.sortable {
              cursor: pointer;
              &:hover {
                background-color: var(--bs-gray-100);
              }
              &.sort-asc {
                div.th-content {
                  em {
                    &::after {
                      content: "\f0de";
                    }
                  }
                }
              }
              &.sort-desc {
                div.th-content {
                  em {
                    &::after {
                      content: "\f0dd";
                    }
                  }
                }
              }
            }
            div.th-content {
              display: flex;
              justify-content: space-between;
              align-items: center;
              em {
                color: var(--bs-gray-300);
                position: relative;
                &::after {
                  font: var(--fa-font-solid);
                  color: var(--bs-gray-800);
                  position: absolute;
                  left: 0;
                }
              }
            }
          }
          td {
            &.td-not-found {
              --bs-table-accent-bg: transparent;
              border-bottom: none;
              div {
                padding-top: 1em;
                padding-bottom: 1em;
              }
            }
          }
        }
      }
    }
  }
  div.app-table-footer {
    margin-top: 0.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    select.form-select {
      width: fit-content;
    }
  }

  // start table not found
  div.not-found-wrapper {
    text-align: center;
  }

  // start table loader
  div.table-responsive {
    table.table.table-loader {
      tbody tr {
        td {
          border-bottom: 0;
          &:first-child {
            padding-left: 0;
          }
          &:last-child {
            padding-right: 0;
          }

          span.loader-skeleton {
            width: 100%;
            height: 2em;
            background-color: #fafafa;
            display: block;
            position: relative;
            overflow: hidden;
            &::before {
              content: "";
              width: 100%;
              position: absolute;
              height: 2em;
              background-color: #f4f4f4;
              animation: tableLoader 2s forwards infinite;
            }
          }
        }
      }
    }
  }
}

@keyframes tableLoader {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}
