<app-card [header]="moduleCode + '.header'">
  <div class="text-end mb-4">
    <app-button (onClick)="handleAdd()">
      <em class="fas fa-plus"></em>
      {{ "app.button.add" | translate }}
    </app-button>
  </div>
  <app-table [model]="tableModel">
    <ng-template #actions let-post let-i="index">
      <app-button
        size="SM"
        customClass="me-2 mb-1"
        (onClick)="handleView(post)"
      >
        <em class="fas fa-search"></em>
      </app-button>

      <app-button
        variant="WARNING"
        size="SM"
        customClass="me-2 mb-1"
        (onClick)="handleEdit(post)"
      >
        <em class="fas fa-pen"></em>
      </app-button>

      <app-button
        variant="DANGER"
        size="SM"
        customClass="mb-1"
        (onClick)="handleDelete(post, i)"
      >
        <em class="fas fa-trash"></em>
      </app-button>
    </ng-template>
  </app-table>
</app-card>
