div.auth-layout-wrapper {
  min-height: 100vh;
  overflow: hidden;

  div.auth-layout-container {
    max-width: 400px;
    width: 100%;
    margin: 10vh auto;

    .form-select {
      width: fit-content;
      margin: 2em auto 0;
    }
  }
}
