<auth-card [header]="moduleCode + '.header'">
  <form [formGroup]="formGroup">
    <app-form-group label="app.form.label.username" [required]="true">
      <app-input
        formControlName="username"
        [placeholder]="'app.form.placeholder.username'"
      >
      </app-input>
    </app-form-group>

    <app-form-group label="app.form.label.password" [required]="true">
      <app-input
        type="password"
        formControlName="password"
        placeholder="app.form.placeholder.password"
      >
      </app-input>
    </app-form-group>

    <app-form-group customClass="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        id="flexCheckDefault"
        formControlName="isRememberMe"
      />
      <label class="form-check-label" for="flexCheckDefault">
        {{ moduleCode + ".form.label.rememberMe" | translate }}
      </label>
    </app-form-group>

    <div class="mb-3 text-end">
      <a routerLink="/auth/forgot-password">
        {{ moduleCode + ".link.forgotPassword" | translate }}
      </a>
    </div>
  </form>

  <app-button (onClick)="handleSignIn()" customClass="w-100">
    {{ moduleCode + ".button.signIn" | translate }}
  </app-button>

  <p class="mt-4 mb-3 text-center">
    {{ moduleCode + ".text.dontHaveAnAccount" | translate }}
    <a routerLink="/auth/sign-up">
      {{ moduleCode + ".link.signUp" | translate }}
    </a>
  </p>
</auth-card>
